body {
	font-family: Cambria;
	background: url(dark_circles.png);
}

.f-sorting label {
	display: block;
	font-size: 42px;
	margin-bottom: 25px;
}

.f-sorting input[type=text] {
	height: 30px;
	width: 150px;
	font-size: 28px;	
	margin-bottom: 25px;
}

.f-sorting input[type=submit] {
	width: 80px;
}

div {
	text-align: center;
	width: 230px;
	position: relative;
	top: 200px;
	margin: 0 auto;
	background: #DFDEDE;
	padding: 50px 40px;
	border-radius: 8px;
	box-shadow: 0px 0px 5px #000;
}